@charset "UTF-8";
/* 
em HTML é id  =  em CSS é # (Só pode um elemento)
em HTML é class = em CSS é . (Pode varios elementos)
*/
body {
    background-color: rgb(191, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(105, 158, 158);
}
h1#principal {
    text-align: center;
    background-color: rgb(53, 146, 53);
    color: white;
}
h2 {
    color: rgb(115, 73, 231);  
}
.basico {
    color: green;
}
.internediario {
    color: yellow;
}
.avançado {
    color: red;
}
.destaque {
    background-color: rgb(241, 195, 195);
}