.menu {
  background-color: #444;
  position: fixed;
  top: 0px;
  left: -172px;
  margin-left: 20px;
  display: flex;
  transition: all 0.5s all;
}
.menu a {
  display: block;
  text-align: center;
  padding: 25px;
  transition: all 0.5s all;
}
.menu a:hover {
  background-color: #400;
}
.ativo {
  background-color: #a00;
}
.barra {
  background-color: #fff;
  width: 50px;
  height: 5px;
  margin: 7.5px;
}
.btnMenu {
  cursor: pointer;
}
.menuAberto {
  left: 0;
}