.aside a {
  position: absolute;
  left: -90px;
  transition: 0.2s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
}
.aside a:hover {
  left: 0px;
}
#canal {
  top: 20px;
  background-color: #800;
}
#cursos {
  top: 80px;
  background-color: green;
}
#contatos {
  top: 140px;
  background-color: #008;
}
article {
  border: 1px solid black;
  max-width: min-content;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: 15px 15px 15px black;
}