html {
  scroll-behavior: smooth;
}
.sec {
  height: 600px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
#sec1 {
  background-color: #f00;
}
#sec2 {
  background-color: #0f0;
}
#sec3 {
  background-color: blue;
}
#sec4 {
  background-color: yellow;
}
#sec5 {
  background-color: aqua;
}
#sec6 {
  background-color: blueviolet;
}
#sec7 {
  background-color: cadetblue;
}
#sec8 {
  background-color: black;
}
#sec9 {
  background-color: burlywood;
}
#sec10 {
  background-color: beige;
}
a, h2 {
  font-size: 22px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
}
.amarela {
  color: black;
  font-weight: bold;
}